.about-main{
    background-color: rgba(19, 73, 55, 0.541);
    padding: 30px;
}

.about-main h2{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.about-img img{
    padding: 22px;
}

h5{
    font-weight: 600;
    text-align: center;
}

h3{
    font-weight: 600;
}